<% include ../views/layout %>
<!-- id, breed, size, coat, color, description, image, lifespan, food -->
<h1 class="display-1">Add Breed</h1>
<form method="POST" action="/addbreed">
    <input type="text" name="id" placeholder="id" />
    <br />
    <input type="text" name="breed" placeholder="breed" />
    <br />
    <input type="text" name="size" placeholder="size" />
    <br />
    <input type="text" name="coat" placeholder="coat" />
    <br />
    <input type="text" name="color" placeholder="color" />
    <br />
    <input type="text" name="description" placeholder="description" />
    <br />
    <input type="text" name="image" placeholder="image" />
    <br />
    <input type="text" name="lifespan" placeholder="lifespan" />
    <br />
    <input type="text" name="food" placeholder="food" />
    <br />
    <br/>
    <small class="text-muted">You are creating a breed...</small>
    <br />
    <br />
  <input
    type="submit"
    value="Add Breed"
    class="btn btn-outline-primary btn-sm"
  />
</form>
