<% include ../views/layout %>
<!-- id, name, address, contact, description, workinghours, image -->
<h1 class="display-1">Add Cattery</h1>
<form method="POST" action="/addcattery">
    <input type="text" name="name" placeholder="Name" required />
    <br />
    <input type="text" name="address" placeholder="Address" required />
    <br />
    <input type="text" name="contact" placeholder="Contact" required />
    <br />
    <input type="text" name="description" placeholder="description" required />
    <br />
    <input type="text" name="workinghours" placeholder="Working hours" required />
    <br/>
    <input type="text" name="image" placeholder="Image" required />
    <br />
  <input
    type="submit"
    value="Add Cattery"
    class="btn btn-outline-primary btn-sm"
  />
</form>
