<% include ../views/layout %>
<!-- id, name, birthday, mom, dad, gender, description, price, available -->

<h1 class="display-1">Add Kitten</h1>
<form method="POST" action="/addkitten">
    <input type="text" name="name" placeholder="name" required />
    <br />
    <input type="text" name="birthday" placeholder="birthday" required />
    <br />
    <input type="text" name="mom" placeholder="mom" required />
    <br />
    <input type="text" name="dad" placeholder="dad" required />
    <br />
    <input type="text" name="gender" placeholder="gender" required />
    <br />
    <input type="text" name="description" placeholder="description" required />
    <br />
    <input type="text" name="price" placeholder="price" required />
    <br />
    <input type="text" name="available" placeholder="available" required />
    <br />
    <input type="text" name="image" placeholder="image" required />
    <br />
    <br/>
    <small class="text-muted">You are creating a kitten...</small>
    <br />
    <br />
  <input
    type="submit"
    value="Add Kitten"
    class="btn btn-outline-primary btn-sm"
  />
</form>
