<!DOCTYPE html>
<html>
  <head>
    <title>Pet2Pet</title>
    <link rel="icon" href="https://i.imgur.com/ovtjkoH.png">

    <nav class="navbar fixed-top navbar-light" style="background-color: #FFDD57;">
      <div class="container-fluid">
        <img src="https://i.imgur.com/ovtjkoH.png" width="30px" height="30px" class="d-inline-block align-top">
        <a class="navbar-brand lead text-light" href="/">pet2pet</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/mirovicmila/pet2pet">Download from github</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/f5ac2dd63e.js"></script>
    <script src="https://kit.fontawesome.com/b9c42bd4e9.js" crossorigin="anonymous"></script>
  </head>
  <body>
  </body>
</html>
