<% include ../views/layout %>
<h1 class="display-1">Add User Manually</h1>
<form method="POST" action="/adduser">
    <input type="text" name="username" placeholder="username" />
    <br />
    <input type="text" name="email" placeholder="email" />
    <br />
    <input type="text" name="name" placeholder="name" />
    <br />
    <input type="text" name="password" placeholder="password" />
    <br />
    <br/>
    <small class="text-muted">You are creating an user account...</small>
    <br />
    <br />
  <input
    type="submit"
    value="Add User"
    class="btn btn-outline-primary btn-sm"
  />
</form>
