<% include ../views/layout %>
<h1>Edit User Manually</h1>
<form name="edituser" method="POST" action="/edituser">
    <input type="text" name="username" placeholder="username" value="<%= username%>" />
    <br />
    <input type="email" name="email" placeholder="Email" value="<%= email%>" />
    <br />
    <input type="text" name="name" placeholder="Name" value="<%= name%>" />
    <br />
    <input type="text" name="password" placeholder="Password" value="<%= password%>" />
    <br />
    <input type="submit" value="Edit User" class="btn btn-outline-primary btn-sm" />
</form>
