<% include ../views/layout %>
<h1>Edit Subscriber</h1>
<form name="editsubscriber" method="POST" action="/editsubscriber">
  <input type="email" name="email" placeholder="Email" value="<%= email%>" />
  <br />
  <input
    type="text"
    name="first_name"
    placeholder="First name"
    value="<%= first_name%>"
  />
  <br />
  <input
    type="text"
    name="last_name"
    placeholder="Last name"
    value="<%= last_name%>"
  />
  <br />
  <input type="hidden" name="id" value="<%= id%>" />
  <input
    type="submit"
    value="Edit Subscriber"
    class="btn btn-outline-primary btn-sm"
  />
</form>
